body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.intro {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.summary {
  padding: 20px;
  border: 10px solid gold;
}

body {
  padding: 20px;
  background-color: rgb(235 236 240 / 0.5);
}

h1 {
  color: rgb(35 39 47);
}

h3 {
  color: rgb(68 172 153);
  /* text-decoration: underline; */
}

.title {
  color: rgb(35 39 47);
  background-color: rgb(88 196 220 / 0.3);
  border-radius: 0px 40px 40px 0px;
  font-size: 20px;
  padding: 20px 40px 20px 40px;
  width: fit-content;
}

.theme {
  color: rgb(88 196 220);
  padding: 4px 4px 4px 14px;
  border: 1px dashed rgb(88 196 220);
  border-radius: 20px;
}

.theme:hover {
  background-color: rgb(35 39 47);
  border-radius: 20px;
  cursor: pointer;
}

.profile {
  border-radius: 20px;
  background-color: #F4CCE9;
  border: 1px dashed #7D1C4A;
  padding: 20px;
  margin: 10px 10px 25px 10px;
}

.avatar {
  border: 4px solid #7D1C4A;
  border-radius: 20px;
  padding: 4px;
}

.myUl {
  padding-inline-start: 20px;
}

.myUl { list-style-type: none; padding: 0px 10px; }
.myLi { 
  margin-bottom: 10px; 
  display: grid; 
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}
.myImg { width: 100px; height: 100px; border-radius: 50%; }

.day {
  background: #fff;
  color: #222;
}
.night {
  background: #222;
  color: #fff;
}

.avatar { margin: 5px; border-radius: 50%; }
.panel {
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
}

.fancyTextTitle {
  color: #3674B5;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.fancyTextQuote {
  color: #27445D;
  font-style: italic;
  font-family: cursive
}

.square {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90px;
  height: 90px;
}

.toolbar {
  background-color: lightskyblue;
  width: 18%;
  padding: 8px;
  border-radius: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.toolbar button {
  margin: 5px;
  border-radius: 20px;
  background-color: #3674B5;
  padding: 10px 20px 10px 20px;
  color: #fff;
  border: 1px solid wheat;
}

.background {
  margin-top: 20px;
}

.background--active {
  background: #a6b5ff;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid transparent;
}

.picture--active {
  border: 5px solid #a6b5ff;
}


button { margin: 5px; }
li { border-radius: 5px; }
.highlighted { background: #d2eaff; }

.box {
  border: 1px solid #a6b5ff;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #d2eaff;
  padding: 10px;
  border-radius: 20px;
  color: #27445D;
  font-weight: bold;
  margin-bottom: 10px;
}

.box-hover {
  background-color: #D17D98;
  color: #fff;
  border-color: #FFA09B;
}

.pic {
  padding-inline-start: 20px;
}

.pic { list-style-type: none; padding: 0px 10px; }
.li { 
  margin-bottom: 10px; 
  display: grid; 
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.divCat {
  width: 35%;
  overflow: hidden;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #7D1C4A;
}

.ulCat {
  list-style: none;
  white-space: nowrap;
  padding-inline-start: 20px;
}

.liCat {
  display: inline;
  padding: 0.5rem; 
}

.catNav {
  text-align: center;
}

.catNav > button {
  padding: 15px;
  border-radius: 20px;
  border: 5px solid #D69ADE;
  background-color: #7D1C4A;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.video {
  border-radius: 20px;
  border: 10px solid #D17D98;
}